{% extends "base.html" %}
{% block content %}
<h1>Hi, ZZ Top - Viva Las Vegas</h1>
<p align="center"><iframe width="854" height="480" src="https://www.youtube.com/embed/gOoKzw3JSCM" frameborder="0" allowfullscreen></iframe></p>
<div><p align="center">Лас Вегас</b></p></div>
Лас-Ве́гас (англ. и исп. Las Vegas) — город на западе США, в штате Невада, административный центр самого южного в штате округа Кларк. Город расположен в центральной части пустыни Мохаве. Согласно переписи населения 2010, его население — 596 424 жителя, а всего в агломерации Лас-Вегаса постоянно проживало 1 951 269 человек.

Лас-Вегас является одним из крупнейших мировых центров развлечений и игорного бизнеса. Многочисленные казино, отели, ежедневные концерты и шоу притягивают туристов со всего мира. Всего на территории Лас-Вегаса сосредоточено более восьмидесяти казино, несколько тысяч игровых павильонов, множество фешенебельных отелей. Основные казино и отели расположены в историческом центре города вдоль улицы Фримонт-стрит (англ. Fremont street) в Даунтауне, а также в нескольких милях южнее на Лас-Вегас-бульваре (англ.)русск. — центральной улице города, идущей с севера на юг, самую оживлённую часть которой (4 мили от отеля «Стратосфера» в самом Лас-Вегасе и до отелей в пригороде Парадайз) называют Лас-Вегас-Стрип или просто Стрип (англ. The Strip).

Многие компании с мировым именем выбирают именно Лас-Вегас для проведения презентаций и рекламных кампаний. В большей степени это обусловлено направленностью услуг многих отелей, где подобная услуга является нормой, и не существует проблем при реализации крупных проектов.
{% endblock %}