{% extends "base.html" %}
{% block content %}
<h1>Hi! Viva Panama City</h1>
<p align="center"><iframe width="854" height="480" src="https://www.youtube.com/embed/IKcpwzL9g2c" frameborder="0" allowfullscreen></iframe></p>
Пана́ма́ (исп.: Panamá) — столица государства Панама с населением 1,3 млн человек (с пригородами, 2010), расположена у входа Панамского канала в Тихий океан. Город Панама — политический, административный и культурный центр страны.
Панама обладает высокоразвитой экономикой, опирающейся, прежде всего, на транспорт, сферу услуг, банковский сектор и строительство и продажу недвижимости. Главным источником благосостояния города, несомненно, является Панамский канал, одна из главных мировых транспортных артерий.

Город создаёт около 55 % всего ВВП страны, являясь местом размещения всех основных панамских компаний и представительств международных корпораций. Мировой финансовый кризис последних лет привёл к некоторому спаду цен на недвижимость, но, в отличие от многих других стран региона, не остановил поступательного развития местной экономики.

Туризм составляет всё более важную часть городской экономики, привлекая в город операторов крупнейших международных гостиничных и ресторанных сетей. в 2008 году Панама заняла второе место в мире (без учёта США) по заполняемости гостиниц (первое место — Перт, третье — Дубай).
{% endblock %}